In [51]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [52]:
df = pd.read_csv('churn3.csv')

In [53]:
df.head()

,Unnamed: 0,customer_id,vintage,age,gender,dependents,occupation,city,customer_nw_category,branch_code,churn
0,0,1,2101,66,1.0,0.0,1.0,187.0,2,755,0
1,1,2,2348,35,1.0,0.0,1.0,NaN,2,3214,0
2,2,4,2194,31,1.0,0.0,0.0,146.0,2,41,0
3,3,5,2329,90,NaN,NaN,1.0,1020.0,2,582,1
4,4,6,1579,42,1.0,2.0,1.0,1494.0,3,388,1

In [54]:
# checking for missing values
df.isnull().sum()

Unnamed: 0                 0
customer_id                0
vintage                    0
age                        0
gender                   525
dependents              2463
occupation                80
city                     803
customer_nw_category       0
branch_code                0
churn                      0
dtype: int64

In [55]:
# checking the distribution of Target Variable
df['churn'].value_counts()

0    23122
1     5260
Name: churn, dtype: int64

In [56]:
X = df.drop(columns='churn', axis=1)
y = df['churn']

In [59]:
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=0.2, stratify=Y, random_state=2)

In [45]:
from sklearn.metrics import accuracy_score

In [46]:
#Train test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2)