In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [17]:
df = pd.read_csv('churn_prediction2.csv')

In [18]:
df.head()

,customer_id,vintage,age,gender,dependents,occupation,city,customer_nw_category,branch_code,churn,last_transaction
0,1,2101,66,Male,0.0,self_employed,187.0,2,755,0,2019-05-21
1,2,2348,35,Male,0.0,self_employed,NaN,2,3214,0,2019-11-01
2,4,2194,31,Male,0.0,salaried,146.0,2,41,0,NaT
3,5,2329,90,NaN,NaN,self_employed,1020.0,2,582,1,2019-08-06
4,6,1579,42,Male,2.0,self_employed,1494.0,3,388,1,2019-11-03

In [4]:
# checking for missing values
df.isnull().sum()

Unnamed: 0.1         0
Unnamed: 0           0
Posted On            0
BHK                  0
Rent                 0
Size                 0
Floor                0
Area Type            0
Area Locality        0
City                 0
Furnishing Status    0
Tenant Preferred     0
Bathroom             0
dtype: int64

In [19]:
# checking the distribution of Target Variable
df['churn'].value_counts()

0    23122
1     5260
Name: churn, dtype: int64

In [20]:
X = df.drop(columns='churn', axis=1)
Y = df['churn']

In [21]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [22]:
from sklearn.metrics import accuracy_score

In [25]:
#Train test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

NameError: name 'y' is not defined

In [14]:
print('Accuracy on Training data : ', round(training_data_accuracy*100, 2), '%')

NameError: name 'training_data_accuracy' is not defined